body{background-color: rgb(0,136,0);
margin: 0;
padding: 0;}

#page-wrapper {width: 960px;
background-color: white;
margin: 0 auto;
padding: 1em;}

#page-header {font-family: Georgia, Times, Serif; 
font-style: italic;
padding-top: 1em;}

#page-header h1 {font-size: 3em; font-weight: bold; display: inline-block; margin:0; vertical-align:middle;}

#page-header, #content, #navbar {padding: 0 1em;}


#navbar ul li {
  display:inline-block;
}

#navbar {background-color: #333;}

#navbar ul{padding: 0;}

#navbar a{color: #CCFFCC; 
text-decoration: none; 
padding: 0.25em;
display: inline-block;}

#navbar a:hover{
  background-color: #666;
  text-shadow: 2px 2px #333;
}

#page-header h2 {font-size:1.5em; font-weight: 500;}
  
#page-header img {vertical-align:middle;}
#content h2{
  font-family: Georgia, Times, Serif; font-size: 1.5em;font-weight: 500;}
  
#content p{ font-family: Verenda, Helvetica, Arial, sans serif;font-size: 1em; font-weight: regular;
  
}

#page-title h1 {font-family Georgia, Times, Serif; font-size: 1.8em; font-weight: bold;
  
}
