#page-header {font-family: Georgia, Times, Serif; font-style: italic;}

#page-header h1 {font-size: 3em; font-weight: bold;}

#page-header h2 {font-size:1.5em; font-weight: 500;}
  
#content h2{
  font-family: Georgia, Times, Serif; font-size: 1.5em;font-weight: 500;}
  
#content p{ font-family: Verenda, Helvetica, Arial, sans serif;font-size: 1em; font-weight: regular;
  
}

#page-title h1 {font-family Georgia, Times, Serif; font-size: 1.8em; font-weight: bold;
  
}
